[submodule "PointTransformerV3"]
	path = PointTransformerV3
	url = https://github.com/Pointcept/PointTransformerV3.git
[submodule "PotreeConverter"]
	path = PotreeConverter
	url = https://github.com/potree/PotreeConverter.git
